<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    {{/* TODO: add favicon */}}
    <meta charset="UTF-8">
    <title> Rates </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/pico.min.css" rel="stylesheet">
    <script src="/static/js/htmx.min.js"></script>
</head>

<body id="content">

{{ block "content" . }}{{ end }}

</body>
</html>
